<div class="tolight" align="right">
  <img
    class="lightsrc"
    src="https://firebasestorage.googleapis.com/v0/b/chakra-62276.appspot.com/o/sendtolight2.png?alt=media&token=daf94277-e92b-419a-a051-9958419391b0"
    width="100px"
    height="100px"
  />
</div>
<div class="moon" align="left">
  <img
    class="moonsrc"
    src="https://firebasestorage.googleapis.com/v0/b/chakra-62276.appspot.com/o/moon.png?alt=media&token=0100ec94-6adc-4b00-984c-12ce21ec140a"
    width="100px"
    height="100px"
  />
</div>
<div class="logo">
  {name}
</div>

<div class="stars"></div>
<div class="twinkling"></div>

<div class="rainbowwrapper">
  <div class="chipoints">
      {#each chakras as chi, i}
        {#if (i+1)%2 === 0}
          <div class="chipoint even">
            <img src='{chakrasrc[i]}' />
          </div>
        {:else}
          <div class="chipoint odd">
            <img src='{chakrasrc[i]}' />
          </div>
        {/if}
          
      {/each}
  </div>
</div>

<script>
  // import Stars from './Stars.html';
  // export default {
  //   components: {
  //     Stars
  //   }
  // };
</script>

<!-- Include styles -->
<style>
  
.moon {
  -webkit-animation: clock 21s linear infinite;
  -moz-animation: clock 21s linear infinite;
  animation: clock 21s linear infinite;
  animation-direction: reverse;
  position: absolute;
}

.moonsrc {
  -webkit-animation: clock 21s linear infinite;
  -moz-animation: clock 21s linear infinite;
  animation: clock 21s linear infinite;
  animation-direction: forward;
}

.tolight {
  margin-right: 0;
  align-self: right;
  position: absolute;
  right: 1em;
}

.lightsrc {
  -webkit-animation: clock 21s linear infinite;
  -moz-animation: clock 21s linear infinite;
  animation: clock 21s linear infinite;
  animation-direction: linear;
}

  
.rainbowwrapper {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/chakra-62276.appspot.com/o/chakraPose3.png?alt=media&token=b564cae6-ce7c-4239-8207-b9a3519de0c9");
  background-size: auto 100%;
  background-position: 50%;
  background-repeat: no-repeat;
}

.chipoints {
  border-radius: 25px;
  background: linear-gradient(
    rgba(238, 130, 238, 0.7),
    rgba(75, 0, 130, 0.7),
    rgba(0, 0, 255, 0.7),
    rgba(0, 128, 0, 0.7),
    rgba(255, 255, 0, 0.7),
    rgba(255, 165, 0, 0.7),
    rgba(255, 0, 0, 0.7)
  );
  width: 21%;
  height: 350px;
}

.chipoint {
  align-items: center;
  text-align: center;
  list-style: none;
  height: 50px;
  width: auto;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.chipoint img {
  background: rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.odd {
  -webkit-animation: spin 21s linear infinite;
  -moz-animation: spin 21s linear infinite;
  animation: spin 21s linear infinite;
}

.even {
  -webkit-animation: clock 21s linear infinite;
  -moz-animation: clock 21s linear infinite;
  animation: clock 21s linear infinite;
  animation-direction: reverse;
}
@-moz-keyframes clock {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes clock {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes clock {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(-360deg);
  }
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(-360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(-360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

.stars,
.twinkling,
.clouds {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.stars {
  background: #000
    url(https://www.script-tutorials.com/demos/360/images/stars.png) repeat top
    center;
  z-index: -3;
}

.twinkling {
  background: transparent
    url(https://www.script-tutorials.com/demos/360/images/twinkling.png) repeat
    top center;
  z-index: -2;

  -moz-animation: move-twink-back 200s linear infinite;
  -ms-animation: move-twink-back 200s linear infinite;
  -o-animation: move-twink-back 200s linear infinite;
  -webkit-animation: move-twink-back 200s linear infinite;
  animation: move-twink-back 200s linear infinite;
}

.clouds {
  background: transparent
    url(https://www.script-tutorials.com/demos/360/images/clouds3.png) repeat
    top center;
  z-index: -1;

  -moz-animation: move-clouds-back 200s linear infinite;
  -ms-animation: move-clouds-back 200s linear infinite;
  -o-animation: move-clouds-back 200s linear infinite;
  -webkit-animation: move-clouds-back 200s linear infinite;
  animation: move-clouds-back 200s linear infinite;
}

@media screen and (min-width: 768px) {
  .desc {
    margin-top: 21px;
    width: 50vh;
    margin: 0 auto;
  }
}
.logo {
  font-size: 1.7em;
  text-align: center;
  margin-top: 21px;
  margin-bottom: 21px;
  color: white;
}
</style>