<div class="sun" align="right">
  <img src="{planets.sun}"/>
</div>
<div class="moon" align="left">
  <img src="{planets.moon}" />
</div>
<div class="logo">{name}</div>
<div class="stars"></div>
<div class="twinkling"></div>

<div class="rainbowwrapper">
  <div class="chipoints">
      {#each chakras as chi, i}
        {#if (i+1)%2 === 0}
          <div class="chipoint even">
            <img src='{chakrasrc[i]}' on:click='set({ 
              value: {
                title:chakras[i],
                img: chakrasrc[i],
                sanskrit: sanskrit[i],
                desc:description[i]}})' />
          </div>
        {:else}
          <div class="chipoint odd">
            <img src='{chakrasrc[i]}' 
            on:click='set({ 
              value: {
                title:chakras[i],
                img: chakrasrc[i],
                sanskrit: sanskrit[i],
                desc:description[i]}})' />
          </div>
        {/if}
      {/each}
  </div>
</div>
{#if value}
<div class="desc">
  <div class="descheader" on:click="set(moreinfo = !moreinfo)">
    <div class="desctitle">
      <h2>{ value.title }</h2>
    </div>
      <div class="descimg">
        <img src="{value.img}" />
      </div>
  </div>
    <div class="desctext">
      <p>({value.sanskrit})</p>
      <p>{value.desc}</p>
    </div>
</div>
{/if}
<script>
  // import Stars from './Stars.html';
  // export default {
  //   components: {
  //     Stars
  //   }
  // };
  export default {
    // data () {
    //   return {
    //     const value = (i) => {console.log(i)},
    //   };
    // }
  };
</script>

<!-- Include styles -->
<style>
  
.moon {
  -webkit-animation: clock 21s linear infinite;
  -moz-animation: clock 21s linear infinite;
  animation: clock 21s linear infinite;
  animation-direction: reverse;
  position: absolute;
}

.moon img {
  -webkit-animation: clock 21s linear infinite;
  -moz-animation: clock 21s linear infinite;
  animation: clock 21s linear infinite;
  animation-direction: forward;
  width: 100px;
  height: 100px;
}

.sun {
  margin-right: 0;
  align-self: right;
  position: absolute;
  right: 1em;
}

.sun img {
  -webkit-animation: clock 21s linear infinite;
  -moz-animation: clock 21s linear infinite;
  animation: clock 21s linear infinite;
  animation-direction: linear;
  width: 100px;
  height: 100px;
}

  
.rainbowwrapper {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/chakra-62276.appspot.com/o/chakraPose3.png?alt=media&token=b564cae6-ce7c-4239-8207-b9a3519de0c9");
  background-size: auto 100%;
  background-position: 50%;
  background-repeat: no-repeat;
}

.chipoints {
  border-radius: 25px;
  background: linear-gradient(
    rgba(238, 130, 238, 0.7),
    rgba(75, 0, 130, 0.7),
    rgba(0, 0, 255, 0.7),
    rgba(0, 128, 0, 0.7),
    rgba(255, 255, 0, 0.7),
    rgba(255, 165, 0, 0.7),
    rgba(255, 0, 0, 0.7)
  );
  width: 21%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chipoint {
  //height: 14.28%;
  align-items: center;
  text-align: center;
  list-style: none;
  //height: 50px;
  width: auto;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.chipoint img {
  background: rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  height: 75px;
  width: 75px;
}

.odd {
  -webkit-animation: spin 21s linear infinite;
  -moz-animation: spin 21s linear infinite;
  animation: spin 21s linear infinite;
}

.even {
  -webkit-animation: clock 21s linear infinite;
  -moz-animation: clock 21s linear infinite;
  animation: clock 21s linear infinite;
  animation-direction: reverse;
}

/* ul,
li {
  list-style-type: none;
  list-style-position: inside;
  margin: 0;
  padding: 0;
} */

.desc {
  margin-top: 21px;
}

.descheader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 50px;
}

.desctitle {
  line-height: 50px;
  font-size: 1.2em;
}

.descimg {
}

.descimg img {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  widtth: 50px;
  height: 50px;
}

.desctext {
  text-align: center;
  background-color:black;
}

.meditate {
  text-align: center;
}

.action {
  height: auto;
  margin-top: 21px;
  width: 50%;
  background-color: purple;
  font-family: "Philosopher", cursive;
  font-size: 1.2em;
  border-radius: 21px;
}

* {
  margin: 0;
  padding: 0;
}


@-moz-keyframes clock {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes clock {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes clock {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(-360deg);
  }
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(-360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(-360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

.stars,
.twinkling {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  //display: block;
}

.stars {
  background: #000
    url(https://www.script-tutorials.com/demos/360/images/stars.png) repeat top
    center;
  z-index: -3;
}

.twinkling {
  background: transparent
    url(https://www.script-tutorials.com/demos/360/images/twinkling.png) repeat
    top center;
  z-index: -2;

  -moz-animation: move-twink-back 200s linear infinite;
  -ms-animation: move-twink-back 200s linear infinite;
  -o-animation: move-twink-back 200s linear infinite;
  -webkit-animation: move-twink-back 200s linear infinite;
  animation: move-twink-back 200s linear infinite;
}

@media screen and (min-width: 768px) {
  .desc {
    margin-top: 21px;
    width: 50vh;
    margin: 0 auto;
  }
}
.logo {
  font-size: 1.7em;
  text-align: center;
  margin-top: 21px;
  margin-bottom: 21px;
}
</style>